{{extend 'layout.html'}}
<h1>Post</h1>
<div >
<p>{{=A('Back', _class='btn btn-primary', _href=URL('default', 'index'))}}
{{if auth.user_id == row.user_id:}}
{{= A('Edit', _class='btn btn-warning', _href=URL('default', 'edit', args=[row.id]))}}
{{= A('Delete', _class='btn btn-danger', _href=URL('default', 'delete', args=[row.id], user_signature=True))}}</p>
{{pass}}
</br>
</div>
<h1>Photo Gallery:</h1>
<div class ="one" style="text-align:center" id="a"></div>
<div class ="well">
{{for anImage in images:}}
  <img width="100px" height="100px" id="image{{=anImage.id}}" class="img-thumbnail unchecked"  src="{{=URL('download', args=anImage.image)}}" />
{{pass}}
{{=form}}
{{if auth.user_id == row.user_id:}}
<h2>Upload More Images</h2>
{{=imgForm}}
{{pass}}
<script>
var flag=0;
$(document).ready(function() {
    $('.img-thumbnail').on('click', function() {
      console.log($(this).attr('class'));
        if ($(this).attr('class')=="img-thumbnail unchecked") {
           $(this).attr({
               'width': '400px',
               'height': '400px',
               'class':'img-thumbnail checked'
            });
            flag=1;
         }
         else{
                 $(this).attr({
                   'width': '100px',
                   'height': '100px',
                   'class':'img-thumbnail unchecked'
                });
           flag=0;
         }
    });
});
</script>
